<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @rss_feed.title %>
</p>

<p>
  <strong>Feed url:</strong>
  <%= @rss_feed.feed_url %>
</p>

<%= link_to 'Edit', edit_rss_feed_path(@rss_feed) %> |
<%= link_to 'Back', rss_feeds_path %>
