<!DOCTYPE html>
<html>
<head>
  <title>RssReader</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="row">
    <div class="large-12 columns">
      <div class="nav-bar right">
        <!-- links-->
      </div>
      <h1>Reader <small>Simply awesome.</small></h1>
      <hr />
    </div>
  </div>
 
  <div class="row">
    <%= yield %>
  </div>

  <%= render partial: "common/popups" %>
</body>
</html>
